@use "../../theme" as *;

.containerRow{
    display: flex;
    gap: 1.5em;
    flex-direction: row;
    justify-content: center;
    padding: 0 2em;

}

.back{
    color: none;
    outline: none;
}
.containerColumn{
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 2em;
    justify-content: center;
}

.elementos{
    display: flex;
    width: 300px;
    border: 1px solid white;
    padding: 1em;
    border-radius: 15px;
    justify-content: space-between;
    button{
        height: fit-content;
        padding: 1em;
        border-radius: 5px;
        outline: none;
        border: none;
        align-self: center;
    }
    button:hover{
        background-color: aliceblue;
    }
    
}

.tarjeta{
    width: 500px;
    height: 150px;
    background-color: grey;
}