@use "../../theme" as *;

.header {
  font-size: 3rem;
  font-weight: 300;
  color: map-get($map: $primary, $key: 400);
  margin-bottom: 2rem;
}

.login {
  height: calc(100vh - 101.6px);
  display: grid;
  place-items: center;
}

.form {
  max-width: 500px;
  padding: 1rem;
  border-radius: $radius;

  a {
    color: map-get($map: $primary, $key: 500);
  }
}

.button {
  background-color: map-get($map: $primary, $key: 400);
  border: none;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 0 11px 1px map-get($map: $primary, $key: 400);
  cursor: pointer;
  width: 100%;
}
