@use "index" as *;

h1,
h2 {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1rem;
    border-radius: $radius;
    background-color: rgba(map-get($map: $primary, $key: 300), 0.1);
    left: -1rem;
    bottom: 12px;
  }
}
