@use '../../theme' as *;

.link {
  text-decoration: none;
  color: inherit;
  border-radius: $radius;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: map-get($map: $primary, $key: 500);
  }
}

.repoCard {
  padding: 1rem;
  border-radius: $radius;
  box-shadow: 0 0 11px 1px #0008;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(map-get($map: $secondary, $key: 400), 0.7);

  h3 {
    color: map-get($map: $primary, $key: 400);
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.language {
  padding: 0.5rem 0;
}

.repoId {
  font-weight: 300;
  font-size: '12px';
}
